@charset "UTF-8";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.data-checkout-stage {
    .payment-options-container {
        .mollie-components-container .invalid-feedback {
            display: block;
        }

        .issuers {
            display: flex;
            flex-direction: column;
        }

        .nav-tabs .nav-item {
            flex: unset;

            @include media-breakpoint-up(lg) {
                width: calc(100% / 4);
            }

            @include media-breakpoint-down(lg) {
                width: calc(100% / 2);
            }
        }
    }

    .summary-details .redirect-type {
        display: flex;
        flex-direction: column;
    }
}

/* CSS */
@supports (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button-with-text {
        display: inline-block;
        -webkit-appearance: -apple-pay-button;
        -apple-pay-button-type: buy;
        width: 100%;
    }

    .apple-pay-button-with-text>* {
        display: none;
    }

    .apple-pay-button-black-with-text {
        -apple-pay-button-style: black;
    }

    .apple-pay-button-white-with-text {
        -apple-pay-button-style: white;
    }

    .apple-pay-button-white-with-line-with-text {
        -apple-pay-button-style: white-outline;
    }
}

@supports not (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button-with-text {
        --apple-pay-scale: 1;
        /* (height / 32) */
        display: inline-flex;
        justify-content: center;
        font-size: 12px;
        border-radius: 5px;
        padding: 0px;
        box-sizing: border-box;
        width: 100%;
        min-height: 32px;
        max-height: 64px;
    }

    .apple-pay-button-black-with-text {
        background-color: black;
        color: white;
    }

    .apple-pay-button-white-with-text {
        background-color: white;
        color: black;
    }

    .apple-pay-button-white-with-line-with-text {
        background-color: white;
        color: black;
        border: .5px solid black;
    }

    .apple-pay-button-with-text.apple-pay-button-black-with-text>.logo {
        background-image: -webkit-named-image(apple-pay-logo-white);
        background-color: black;
    }

    .apple-pay-button-with-text.apple-pay-button-white-with-text>.logo {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
    }

    .apple-pay-button-with-text.apple-pay-button-white-with-line-with-text>.logo {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
    }

    .apple-pay-button-with-text>.text {
        font-family: -apple-system;
        font-size: calc(1em * var(--apple-pay-scale));
        font-weight: 300;
        align-self: center;
        margin-right: calc(2px * var(--apple-pay-scale));
    }

    .apple-pay-button-with-text>.logo {
        width: calc(35px * var(--scale));
        height: 100%;
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: 0 50%;
        margin-left: calc(2px * var(--apple-pay-scale));
        border: none;
    }
}