@charset "UTF-8";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.data-checkout-stage {
    .payment-options-container {
        .mollie-components-container .invalid-feedback {
            display: block;
        }

        .cardNumber {
            display: none !important;
        }

        .issuers {
            display: flex;
            flex-direction: column;
        }

        .nav-tabs .nav-item {
            flex: unset;

            .nav-link {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0.5rem 1rem;
                padding: 0.75rem;
                border: 1px solid lightgray;
                border-radius: 0.5rem;
                min-height: 7rem;

                &__name {
                    margin-top: 0.5rem;
                    color: black;
                    font-weight: bold;
                    font-size: 0.9rem;
                }

                &.active {
                    border-color: #0070d2;
                }
            }

            @include media-breakpoint-up(lg) {
                width: calc(100% / 4);
            }

            @include media-breakpoint-down(lg) {
                width: calc(100% / 2);
            }
        }
    }
}

.summary-details {
    .redirect-type {
        display: flex;
        flex-direction: column;
    }

    .label {
        font-weight: 500;
    }
}

.modal-qr {
    .modal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
